<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class='container text-left'>

<div class ='container text-right'>
	<a href="{% url 'home' %}" class='btn btn-info'> Home </a>
</div>
<h1>Generated password:</h1>
<h2 class = 'alert alert-success'>{{password}}</h2>
<p>length: {{ length }}
<p>uppercase: {{ uppercase }}
<p> numbers: {{  numbers }}
<p> special charecters: {{  special }}</p>


</div>